<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ticket-heading" data-cy="TicketCreateUpdateHeading" jhiTranslate="bugTrackerUltimateApp.ticket.home.createOrEditLabel">
        Создать или отредактировать Ticket
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bugTrackerUltimateApp.ticket.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
              Это поле обязательно к заполнению.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bugTrackerUltimateApp.ticket.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Это поле обязательно к заполнению.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bugTrackerUltimateApp.ticket.dueDate" for="field_dueDate">Due Date</label>
          <div class="input-group">
            <input
              id="field_dueDate"
              data-cy="dueDate"
              type="text"
              class="form-control"
              name="dueDate"
              ngbDatepicker
              #dueDateDp="ngbDatepicker"
              formControlName="dueDate"
            />
            <button type="button" class="btn btn-secondary" (click)="dueDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bugTrackerUltimateApp.ticket.done" for="field_done">Done</label>
          <input type="checkbox" class="form-check" name="done" id="field_done" data-cy="done" formControlName="done" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bugTrackerUltimateApp.ticket.severity" for="field_severity">Severity</label>
          <select class="form-control" name="severity" formControlName="severity" id="field_severity" data-cy="severity">
            <option [ngValue]="null">{{ 'bugTrackerUltimateApp.Severity.null' | translate }}</option>
            <option *ngFor="let severity of severityValues" [value]="severity">
              {{ 'bugTrackerUltimateApp.Severity.' + severity | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bugTrackerUltimateApp.ticket.project" for="field_project">Project</label>
          <select
            class="form-control"
            id="field_project"
            data-cy="project"
            name="project"
            formControlName="project"
            [compareWith]="compareProject"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="projectOption" *ngFor="let projectOption of projectsSharedCollection">{{ projectOption.name }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bugTrackerUltimateApp.ticket.assignedTo" for="field_assignedTo">Assigned To</label>
          <select
            class="form-control"
            id="field_assignedTo"
            data-cy="assignedTo"
            name="assignedTo"
            formControlName="assignedTo"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="bugTrackerUltimateApp.ticket.label" for="field_labels">Label</label>
          <select
            class="form-control"
            id="field_labels"
            data-cy="label"
            multiple
            name="labels"
            formControlName="labels"
            [compareWith]="compareLabel"
          >
            <option [ngValue]="labelOption" *ngFor="let labelOption of labelsSharedCollection">{{ labelOption.label }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Отмена</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Сохранить</span>
        </button>
      </div>
    </form>
  </div>
</div>
