<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ticket">
      <h2 data-cy="ticketDetailsHeading"><span jhiTranslate="bugTrackerUltimateApp.ticket.detail.title">Ticket</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ticket.id }}</span>
        </dd>
        <dt><span jhiTranslate="bugTrackerUltimateApp.ticket.title">Title</span></dt>
        <dd>
          <span>{{ ticket.title }}</span>
        </dd>
        <dt><span jhiTranslate="bugTrackerUltimateApp.ticket.description">Description</span></dt>
        <dd>
          <span>{{ ticket.description }}</span>
        </dd>
        <dt><span jhiTranslate="bugTrackerUltimateApp.ticket.dueDate">Due Date</span></dt>
        <dd>
          <span>{{ ticket.dueDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="bugTrackerUltimateApp.ticket.done">Done</span></dt>
        <dd>
          <span>{{ ticket.done }}</span>
        </dd>
        <dt><span jhiTranslate="bugTrackerUltimateApp.ticket.severity">Severity</span></dt>
        <dd>
          <span jhiTranslate="{{ 'bugTrackerUltimateApp.Severity.' + ticket.severity }}">{{ ticket.severity }}</span>
        </dd>
        <dt><span jhiTranslate="bugTrackerUltimateApp.ticket.project">Project</span></dt>
        <dd>
          <div *ngIf="ticket.project">
            <a [routerLink]="['/project', ticket.project.id, 'view']">{{ ticket.project?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="bugTrackerUltimateApp.ticket.assignedTo">Assigned To</span></dt>
        <dd>
          <span>{{ ticket.assignedTo?.login }}</span>
        </dd>
        <dt><span jhiTranslate="bugTrackerUltimateApp.ticket.label">Label</span></dt>
        <dd>
          <span *ngFor="let label of ticket.labels; let last = last">
            <a [routerLink]="['/label', label.id, 'view']">{{ label.label }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Назад</span>
      </button>

      <button type="button" [routerLink]="['/ticket', ticket.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Изменить</span>
      </button>
    </div>
  </div>
</div>
