<div>
  <h2 id="page-heading" data-cy="TicketHeading">
    <span jhiTranslate="bugTrackerUltimateApp.ticket.home.title">Tickets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bugTrackerUltimateApp.ticket.home.refreshListLabel">Обновить список</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ticket"
        [routerLink]="['/ticket/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bugTrackerUltimateApp.ticket.home.createLabel"> Создать новый Ticket </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tickets?.length === 0">
    <span jhiTranslate="bugTrackerUltimateApp.ticket.home.notFound">Tickets не найдено</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tickets && tickets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title">
            <span jhiTranslate="bugTrackerUltimateApp.ticket.title">Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="bugTrackerUltimateApp.ticket.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dueDate">
            <span jhiTranslate="bugTrackerUltimateApp.ticket.dueDate">Due Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="done">
            <span jhiTranslate="bugTrackerUltimateApp.ticket.done">Done</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="severity">
            <span jhiTranslate="bugTrackerUltimateApp.ticket.severity">Severity</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="project.name">
            <span jhiTranslate="bugTrackerUltimateApp.ticket.project">Project</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="assignedTo.login">
            <span jhiTranslate="bugTrackerUltimateApp.ticket.assignedTo">Assigned To</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ticket', ticket.id, 'view']">{{ ticket.id }}</a>
          </td>
          <td>{{ ticket.title }}</td>
          <td>{{ ticket.description }}</td>
          <td>{{ ticket.dueDate | formatMediumDate }}</td>
          <td>{{ ticket.done }}</td>
          <td jhiTranslate="{{ 'bugTrackerUltimateApp.Severity.' + ticket.severity }}">{{ ticket.severity }}</td>
          <td>
            <div *ngIf="ticket.project">
              <a [routerLink]="['/project', ticket.project.id, 'view']">{{ ticket.project?.name }}</a>
            </div>
          </td>
          <td>
            {{ ticket.assignedTo?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/ticket', ticket.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Просмотр</span>
              </button>

              <button type="submit" [routerLink]="['/ticket', ticket.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Изменить</span>
              </button>

              <button type="submit" (click)="delete(ticket)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Удалить</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tickets && tickets.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
